:root {
    --colorPrimario: #F48A2F;
    --colorBlanco: white;
    --colorNegro: black;
    --colorNeutro: #eeeef3;

    --fontPrincipal: 'Roboto Mono', monospace;
    --fontSegundo: 'Roboto', sans-serif;
    --fontTercero: sans-serif;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

/** NAVEGACION **/

.navegation-total {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.logotype img {
    max-width: 360px;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    gap: 150px;
    list-style: none;
}

.nav-list a {
    text-decoration: none;
    color: var(--colorNegro);
    font-family: var(--fontTercero);
    font-size: 25px;
    font-weight: 500;
    padding: 10px;
    border-radius: 7px;
}

.nav-list a:hover {
    background-color: #F48A2F; 
}

@media (max-width: 768px) {
    .logotype img {
        max-width: 250px;
    }

    .nav-list {
        /* flex-direction: column;
        gap: 20px;
        text-align: center; */
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 8px;
        column-gap: 10px;
        place-items: center;
    }

    .nav-list a {
        padding: 5px;
        font-size: 25px;
    }
}

/** MAPA **/

/* .container-map {
    max-width: 100vh;
}

.map-total {
    display: grid;
    place-items: center;
    margin: 40px 40px;
}

.map iframe {
    border-radius: 10px;
    border: none;
} */


@media (min-width: 800px) and (max-width: 40000px) {
    ._3MWH201N6sVGASvrOpe3j {
        position: sticky;
    }
}

.mapa {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.mapa iframe {
    border: none;
}

/** FOOTER **/

.footer {
    margin-top: 20px;
}

.bg-footer {
    background-color: var(--colorPrimario);
    padding: 100px 0;
}

.container-footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
}

.f-primero img {
    width: 230px;
}

.f-segundo {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.f-tercero {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.f-segundo h4{
    font-family: var(--fontTercero);
    font-size: 28px;
}

.f-segundo a {
    text-decoration: none;
    color: var(--colorBlanco);
    font-family: var(--fontTercero);
    font-size: 23px;
    font-weight: 300;
}

.f-tercero h4{
    font-family: var(--fontTercero);
    font-size: 28px;
}

.f-tercero a {
    text-decoration: none;
    color: var(--colorBlanco);
    font-family: var(--fontTercero);
    font-size: 23px;
    font-weight: 300;
}

.bg-derechos p {
    text-align: center;
    font-family: var(--fontTercero);
    padding: 15px 0;
}

@media (max-width: 768px) {
    .container-footer {
        grid-template-columns: none;
        row-gap: 25px;
        text-align: center;
    }

    .bg-footer {
        padding: 80px 0;
    }
}