:root {
    --colorPrimario: #F48A2F;
    --colorBlanco: white;
    --colorNegro: black;
    --colorNeutro: #eeeef3;
    --colorAmarillo: #d9b10d;

    --fontPrincipal: 'Roboto Mono', monospace;
    --fontSegundo: 'Roboto', sans-serif;
    --fontTercero: sans-serif;
    --fontCuarto: 'Raleway', sans-serif;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

/** NAVEGACION **/

.navegation-total {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logotype img {
    max-width: 360px;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    gap: 150px;
    list-style: none;
}

.nav-list a {
    text-decoration: none;
    color: var(--colorNegro);
    font-family: var(--fontTercero);
    font-size: 25px;
    font-weight: 500;
    padding: 10px;
    border-radius: 7px;
}

.nav-list a:hover {
    background-color: #F48A2F; 
}

@media (max-width: 768px) {
    .logotype img {
        max-width: 250px;
    }

    .nav-list {
        /* flex-direction: column;
        gap: 20px;
        text-align: center; */
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 8px;
        column-gap: 10px;
        place-items: center;
    }

    .nav-list a {
        padding: 5px;
        font-size: 25px;
    }
}

/** TARGET **/

.section-c {
    margin: 20px 0;
}

.producto img {
    width: 100%;
}

.description p {
    font-family: var(--fontCuarto);
    color: var(--colorNegro);
    font-size: 20px;
    text-align: center;
}

.description h2 {
    font-family: var(--fontCuarto);
    color: var(--colorNegro);
    font-size: 45px;
}

.description a {
    font-weight: bold;
    color: var(--colorBlanco);
    text-decoration: none;
    font-family: var(--fontCuarto);
    font-size: 20px;
    background-color: var(--colorAmarillo);
    padding: 10px;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
    padding: 15px;
}

.description p:nth-child(3) {
    color: var(--colorAmarillo);
}

@media (min-width: 768px) {

    .producto {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        max-width: 80%;
        margin: 50px auto;
        background-color: var(--colorNegro);
    }
    
    .producto img {
        width: 100%;
    }

    .description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 35px;
        padding: 15px;
    }

    .description h2 {
        color: var(--colorBlanco);
    }

    .description p {
        color: var(--colorBlanco);
        text-align: center;
    }
}


/** FOOTER **/

.bg-footer {
    background-color: var(--colorPrimario);
    padding: 100px 0;
}

.container-footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
}

.f-primero img {
    width: 170px;
}

.f-segundo {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.f-tercero {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.f-segundo h4{
    font-family: var(--fontTercero);
    font-size: 28px;
}

.f-segundo a {
    text-decoration: none;
    color: var(--colorBlanco);
    font-family: var(--fontTercero);
    font-size: 23px;
    font-weight: 300;
}

.f-tercero h4{
    font-family: var(--fontTercero);
    font-size: 28px;
}

.f-tercero a {
    text-decoration: none;
    color: var(--colorBlanco);
    font-family: var(--fontTercero);
    font-size: 23px;
    font-weight: 300;
}

.bg-derechos p {
    text-align: center;
    font-family: var(--fontTercero);
    padding: 15px 0;
}

@media (max-width: 768px) {
    .container-footer {
        grid-template-columns: none;
        row-gap: 25px;
        text-align: center;
    }

    .bg-footer {
        padding: 80px 0;
    }
}