:root {
    --colorPrimario: #F48A2F;
    --colorBlanco: white;
    --colorNegro: black;
    --colorNeutro: #eeeef3;

    --fontPrincipal: 'Roboto Mono', monospace;
    --fontSegundo: 'Roboto', sans-serif;
    --fontTercero: sans-serif;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

/** NAVEGACION **/

.navegation-total {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logotype img {
    max-width: 360px;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    gap: 150px;
    list-style: none;
}

.nav-list a {
    text-decoration: none;
    color: var(--colorNegro);
    font-family: var(--fontTercero);
    font-size: 25px;
    font-weight: 500;
    padding: 10px;
    border-radius: 7px;
}

.nav-list a:hover {
    background-color: #F48A2F; 
}

@media (max-width: 768px) {
    .logotype img {
        max-width: 250px;
    }

    .nav-list {
        /* flex-direction: column;
        gap: 20px;
        text-align: center; */
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 8px;
        column-gap: 10px;
        place-items: center;
    }

    .nav-list a {
        padding: 5px;
        font-size: 25px;
    }
}

/** Slider **/
.container-slider {
    max-width: 90%;
    margin: 20px auto;
}

.slider-responsive {
    display: grid;
    grid-template-columns: 2.5% 95% 2.5%;
    place-items: center;
}

.abajo {
    z-index: 0;
    
}

.arriba-d {
    z-index: 1;  
}

.arriba-i {
    z-index: 1;
}

.slider-screen img {
    width: 100%;
}

.slider-di {
    display: flex;
    width: 30px;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.btn-left {
    border: 0;
    background-color: transparent;
    font-size: 40px;
    padding: 80px 3px;
}

.btn-right {
    border: 0;
    background-color: transparent;
    font-size: 40px;
    padding: 80px 3px;
}


@media (max-width: 768px) {
    .slider-responsive {
        column-gap: 2px;
    }

    .container-slider {
        margin: 10px auto;
    }

    .btn-right , .btn-left {
        font-size: 17px;
    }    
}

/** menu **/

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu h1 {
    font-family: var(--fontPrincipal);
    font-weight: 300;
}

.cards-h1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 40px;
    row-gap: 50px;
}

.card-global {
    max-width: 300px;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: var(--colorNeutro);
}

.container-img {
    max-width: 100%;
}

.card-global img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.container-name {
    padding: 20px 0 0 0;
}

.container-name h2 {
    font-family: var(--fontPrincipal);
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
}

.enlace-see {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--colorNegro);
    text-decoration: none;
    padding: 10px 0;
    border-radius: 5px;

}

.enlace-see i {
    font-size: 25px;
}

.enlace-see p {
    font-size: 25px;
    font-family: var(--fontPrincipal);
    font-weight: 200;
}



.cards-extras {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 70px;
}

@media (max-width: 678px) {
    .cards-h1 {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
    }

    .cards-extras {
        column-gap: 20px;
    }
}





