:root {
    --colorPrimario: #F48A2F;
    --colorBlanco: white;
    --colorNegro: black;
    --fontPrincipal: 'Roboto Mono', monospace;
    --fontSegundo: 'Roboto', sans-serif;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

/** NAVEGACION **/

.navegation-total {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logotype img {
    max-width: 360px;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    gap: 150px;
    list-style: none;
}

.nav-list a {
    text-decoration: none;
    color: var(--colorNegro);
    font-family: var(--fontPrincipal);
    font-size: 25px;
    font-weight: 500;
    padding: 10px;
    border-radius: 7px;
}

.nav-list a:hover {
    background-color: #F48A2F; 
}

@media (max-width: 768px) {
    .logotype img {
        max-width: 250px;
    }

    .nav-list {
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }

    .nav-list a {
        padding: 7px;
    }
}

/** Slider **/
.container-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.abajo {
    z-index: 0;
    
}

.arriba {
    z-index: 1;
    
}

.slider-screen img {
    width: 1300px;
}

.btn-right {
    border: 0;
    padding: 200px 0;
    background-color: transparent;
}

.btn-left {
    border: 0;
    padding: 200px 0;
    background-color: transparent;
}






