:root {
    --colorPrimario: #F48A2F;
    --colorBlanco: white;
    --colorNegro: black;
    --fontPrincipal: 'Roboto Mono', monospace;
    --fontSegundo: 'Roboto', sans-serif;
    --fontTercero: sans-serif;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

/** NAVEGACION **/

.navegation-total {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logotype img {
    max-width: 360px;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    gap: 150px;
    list-style: none;
}

.nav-list a {
    text-decoration: none;
    color: var(--colorNegro);
    font-family: var(--fontTercero);
    font-size: 25px;
    font-weight: 500;
    padding: 10px;
    border-radius: 7px;
}

.nav-list a:hover {
    background-color: #F48A2F; 
}

@media (max-width: 768px) {
    .logotype img {
        max-width: 250px;
    }

    .nav-list {
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }

    .nav-list a {
        padding: 5px;
        font-size: 20px;
    }
}

/** Slider **/
.container-slider {
    max-width: 90%;
    margin: 20px auto;

}

.slider-responsive {
    display: grid;
    grid-template-columns: 2.5% 95% 2.5%;
    place-items: center;
}

.abajo {
    z-index: 0;
    
}

.arriba-d {
    z-index: 1;  
}

.arriba-i {
    z-index: 1;
}

.slider-screen img {
    width: 100%;
}

.slider-di {
    display: flex;
    width: 30px;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.btn-left {
    border: 0;
    background-color: transparent;
    font-size: 40px;
    padding: 80px 3px;
}

.btn-right {
    border: 0;
    background-color: transparent;
    font-size: 40px;
    padding: 80px 3px;
}


@media (max-width: 768px) {
    .slider-responsive {
        column-gap: 2px;
    }

    .container-slider {
        margin: 10px auto;
    }

    .btn-right , .btn-left {
        font-size: 17px;
    }

}









